.rent {
    width: 100%;
    height: 720px;
    background-color: #adff2f;
    .rent-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}